.container {
    width: 100%;
    margin-top: 50px;
    padding: 0;
}

.col-md-5 {
    display: inline-block;
    justify-content: center;
    text-align: center;
}

.backed {
    justify-content: center;
    border:3px solid black;
    border-radius: 38pt;
    height: 800px;
    padding: 30px;
}

.backer {
    border:3px solid black;
    border-radius: 38pt;
    height:800px;
    padding: 30px;
}

.logo {
    height: 25%;
}

.logo img {
    width: 227.92px;
    height: 171.75px;
}

.middle_screen {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom_screen {
    height: 25%;
}

.btn-circle.btn-xl {
    width: 150px;
    height: 150px;
    padding: 10px 16px;
    border-radius: 100px;
    margin-top: 50px;
    font-size: 24px;
    line-height: 1.33;
    background-color: #ff5613;
    color: white;
    border-color: #ff5613;
    
}

.fa {
    font-size: 50px;
}

.press {
    margin-top: 20px;
}

/* .btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
} */